/* Account for navbar */
body {
  padding-top: 54px;
}

.container-fluid {
  padding-top: 13px;
}

.modal-dialog {
  width: 800px;
}

.modal-body {
  height: 400px;
}

.codearea {
  padding: 0;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  padding-top: 15px;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
  min-width: 100%;
}

/* TODO: figure out how to extend this to the full width (with overflow) */
.nav-sidebar > li {
  padding: 5px 0 5px 0;
  min-width: 100%;
  display: table-row;
  line-height: 35px;
}

.nav-sidebar > li > a {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
}

.nav-sidebar > .active {
  background-color: #428bca;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  text-decoration: none;
}


/*
 * Items
 */

.add-item {
  margin-bottom: 8px;
}

.table {
  max-width: 90%;
}

td {
  line-height: 25.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.table-bordered td, .table-bordered th {
  border-color: #e3e4e4;
}

.table thead th {
  border-color: #e3e4e4;
}
